.vs/
bin/
obj/
Gateway.API/bin/
Gateway.API/obj/
TermAdmissionManagement.Application/bin/
TermAdmissionManagement.Application/obj/
TermAdmissionManagement.API/bin/
TermAdmissionManagement.API/obj/
TermAdmissionManagement.Infrastructure/bin/
TermAdmissionManagement.Infrastructure/obj/
